<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FENC FAQ Chatbot</title>
  <link rel="stylesheet" href="static/style/index_style.css">
  <script src="static/javascript/script.js" defer></script>
</head>
<body>


  <div id="main_container">
        <div id="sidebar" class="unselectable">
            <div id="menu_options">
                <p id="sidebar_heading" class="center">FENC Chatbot</p>

                    <div id="new_chat_container" > 
                        <img src="static/images/icons8-edit-pencil.svg" alt="" width="20px"> New Chat
                    </div>

                <div id="conversation_history_container" >
                    <p>Chats</p>
                    <div class="side_panel"><img src="static/images/icons8-chat-room-96.svg" alt="" width="20px">Chat 1</div>
                    <div class="side_panel"><img src="static/images/icons8-chat-room-96.svg" alt="" width="20px">Chat 2</div>
                    <div class="side_panel"><img src="static/images/icons8-chat-room-96.svg" alt="" width="20px">Chat 3</div>
                    <div class="side_panel"><img src="static/images/icons8-chat-room-96.svg" alt="" width="20px">Chat 4</div>
                    <div class="side_panel"><img src="static/images/icons8-chat-room-96.svg" alt="" width="20px">Chat 5</div>
                    <div class="side_panel"><img src="static/images/icons8-chat-room-96.svg" alt="" width="20px">Chat 6</div>
                    <div class="side_panel"><img src="static/images/icons8-chat-room-96.svg" alt="" width="20px">Chat 7</div>
                                    
                </div>
            </div>


            <div id="menu_wrapper">
                <div id="popup_menu">
                    <p id="user_email"> <img src="static/images/icons8-email-32.png"  alt="" srcset="" width="24px"> <span id="email_text" title="{{email}}">{{email}}</span></p>
                    <div id="logout_container" class="menu_items">
                        <img src="static/images/logout.png" alt="">
                        Log out
                    </div>
                </div>

                <div id="name_container" class="menu_items">
                    <img src="static/images/icons8-profile-32.png" alt="">
                    <span>{{fname}}<br>{{lname}}</span>
                </div>
            </div>

        </div>
      
      
      <div id="current_convo_container">
          <p id="welcome_message">What can I help with ?</p>
          <div id="ai_and_user_container">

          </div>
      </div>

      <div id="user_interaction_container">
          <div id="user_interaction_items">
              
              <div id="textarea_container">
                  <textarea id="userInput" placeholder="Type your question here..."  rows="1"></textarea>
              </div>

              <div id="options_container" class="unselectable" >
                  <img src="static/images/up_arrow.svg" alt="" width="18px" onclick="sendQuestion()">
              </div>

          </div>
      </div>


  </div>



</body>
</html>